<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fighters</title>
</head>
<body>

<h1>Fighters List</h1>

<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Health</th>
        <th>Damage</th>
        <th>Resistance</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="fighter : ${fighters}">
        <td th:text="${fighter.name}"></td>
        <td th:text="${fighter.health}"></td>
        <td th:text="${fighter.damage}"></td>
        <td th:text="${fighter.resistance}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>